<div class="pt-2 w-full">
  <hubsd-header></hubsd-header>
  <div class="flex w-full">
    <div
      *ngIf="hasActiveRoute"
      class="bg-white rounded-lg shadow-lg p-6 w-full m-4 flex"
    >
      <div class="w-1/2 grid justify-center">
        <h2 class="text-2xl font-bold text-gray-700 mb-4 text-center">
          Detalhes do Curso
        </h2>
        <div *ngIf="course?.image" class="justify-center flex">
          <img
            [src]="course?.image"
            alt="Imagem do curso"
            class="w-full h-48 bg-cover rounded-lg"
          />
        </div>
        <div>
          <p class="text-sm font-semibold text-gray-500">Curso:</p>
          <p class="text-lg text-gray-700">
            {{ course?.name || "Nome não disponível" }}
          </p>
        </div>
        <div>
          <p class="text-sm font-semibold text-gray-500">Descrição:</p>
          <p class="text-lg text-gray-700">
            {{ course?.description || "Descrição não disponível" }}
          </p>
        </div>
        <div>
          <p class="text-sm font-semibold text-gray-500">Valor:</p>
          <p class="text-lg text-gray-700">
            {{ course?.value | currency : "BRL" }}
          </p>
        </div>
        <div *ngIf="course?.duration">
          <p class="text-sm font-semibold text-gray-500">Duração:</p>
          <p class="text-lg text-gray-700">
            {{ course?.duration || "Duração não disponível" }} minutos
          </p>
        </div>
      </div>
      <div
        *ngIf="course && course.lessons"
        class="flex flex-col justify-start items-end w-1/2 gap-4"
      >
        <h2 class="text-2xl font-bold text-gray-700 mb-4 text-center w-full">
          Conteúdo do curso
        </h2>
        <div
          *ngFor="let lesson of course.lessons"
          class="cursor-pointer rounded-lg shadow-lg p-6 bg-white justify-between flex items-center w-full"
          (click)="courseInit(lesson)"
        >
          <p class="text-lg text-gray-700">
            {{ lesson.title }}
          </p>
          <mat-icon class="p-4 rounded-full hover:bg-primary hover:text-white"
            >chevron_right</mat-icon
          >
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
