<div class="grid py-20 items-center px-10 text-center">
  <h1 class="text-primary font-bold text-lg lg:text-xl md:mb-4 lg:mb-6">
    Invista no seu futuro e transforme sua carreira!
  </h1>
  <p class="mb-6 font-light text-black lg:mb-8 md:text-sm lg:text-md">
    Em nosso site de cursos, você encontrará uma variedade de opções para
    aprimorar suas habilidades e alcançar seus objetivos profissionais. Nossos
    cursos são desenvolvidos por especialistas e oferecem conteúdo atualizado e
    relevante para o mercado de trabalho. Acreditamos que o aprendizado contínuo
    é a chave para o sucesso. Por isso, oferecemos uma plataforma intuitiva e
    flexível, que permite que você estude no seu próprio ritmo e de onde
    estiver.
  </p>
  <button
    class="font-bold max-w-64 place-self-center mt-10 bg-primary text-white hover:bg-primary-300 hover:text-black"
    mat-flat-button
    [routerLink]="['/login']"
  >
    <span> Junte-se a nós! </span>
  </button>
</div>
