<div class="p-2 w-full h-[700px] flex justify-center" *ngIf="sanitizedPdfUrl">
  <pdf-viewer
    *ngIf="lesson.type === 'pdf'"
    [src]="sanitizedPdfUrl"
    [render-text]="true"
    [original-size]="false"
    class="w-full md:w-[80%]"
    style="width: 80%; height: 90%"
  ></pdf-viewer>

  <video
    class="w-full md:w-[80%]"
    width="80%"
    controls
    *ngIf="lesson.type === 'video'"
  >
    <source [src]="lesson.pdfUrl" type="video/mp4" />
    Seu navegador não suporta vídeos.
  </video>
</div>
