<div class="flex flex-col flex-auto min-w-0 h-full">
  <hubsd-header
    [title]="id ? 'Modificar um curso existente' : 'Criar um novo curso'"
  ></hubsd-header>
  <div class="px-6 pb-6 w-full xl:w-1/2">
    <div class="bg-card rounded-md border dark:border-slate-800 p-4">
      <form [formGroup]="form">
        <mat-form-field class="w-full">
          <mat-label class="font-bold">Nome</mat-label>
          <input placeholder="Digite o nome" formControlName="name" matInput />
          <mat-error *ngIf="form.get('name').hasError('required')">
            O nome é obrigatório.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label class="font-bold">Descrição</mat-label>
          <input
            placeholder="Digite a descrição"
            formControlName="description"
            matInput
          />
          <mat-error *ngIf="form.get('description').hasError('required')">
            A descrição é obrigatória.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label class="font-bold">Duração</mat-label>
          <input
            placeholder="Digite a duração"
            formControlName="duration"
            matInput
          />
          <mat-error *ngIf="form.get('duration').hasError('required')">
            A duração é obrigatória.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label class="font-bold">Imagem</mat-label>
          <input
            placeholder="Digite a URL da imagem"
            formControlName="image"
            matInput
          />
          <mat-error *ngIf="form.get('image').hasError('required')">
            A imagem é obrigatória.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label class="font-bold">Preço</mat-label>
          <input
            placeholder="Digite o valor do curso"
            formControlName="value"
            matInput
          />
          <mat-error *ngIf="form.get('value').hasError('required')">
            O valor é obrigatório.
          </mat-error>
        </mat-form-field>

        <div formArrayName="lessons" *ngIf="lessons.length > 0">
          <div
            *ngFor="let lesson of lessons.controls; let i = index"
            class="border-2 border-primary p-4 rounded-lg mb-4"
            [formGroupName]="i"
          >
            <mat-form-field class="w-full">
              <mat-label class="font-bold">Título da Aula</mat-label>
              <input
                placeholder="Digite o título da aula"
                formControlName="title"
                matInput
              />
              <mat-error *ngIf="lesson.get('title').hasError('required')">
                O título da aula é obrigatório.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label class="font-bold">Tipo da aula</mat-label>
              <mat-select
                class="min-w-40"
                formControlName="type"
                placeholder="Tipo da aula"
              >
                <mat-option value="pdf">Arquivo PDF</mat-option>
                <mat-option value="video">Aula em vídeo</mat-option>
              </mat-select>
              <mat-error *ngIf="lesson.get('type').hasError('required')">
                O tipo é obrigatório.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label class="font-bold">Link da aula</mat-label>
              <input
                placeholder="Digite a URL da aula"
                formControlName="pdfUrl"
                matInput
              />
              <mat-error *ngIf="lesson.get('pdfUrl').hasError('required')">
                A URL é obrigatória.
              </mat-error>
            </mat-form-field>
            <button type="button" (click)="removeLesson(i)">
              Remover Aula
            </button>
          </div>
        </div>

        <button
          class="bg-primary py-3 px-2 text-white rounded-lg"
          type="button"
          (click)="addLesson()"
        >
          Adicionar Aula
        </button>
      </form>
    </div>
    <div class="flex flex-row gap-6">
      <button
        class="w-full mt-6"
        mat-flat-button
        [disabled]="form.disabled"
        [routerLink]="'/cursos'"
      >
        Cancelar
      </button>
      <button
        class="w-full mt-6"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
        (click)="handleSaveOrUpdate()"
      >
        <span *ngIf="!form.disabled">Salvar</span>
        <mat-progress-spinner
          *ngIf="form.disabled"
          [diameter]="24"
          [mode]="'indeterminate'"
        ></mat-progress-spinner>
      </button>
    </div>
  </div>
</div>
